<form method="POST" name="form" action="https://money.yandex.ru/quickpay/confirm.xml"> 
 <input type="hidden" name="receiver" value="{{ receiver }}"> 
 <input type="hidden" name="formcomment" value="{{ confname }} : {{ order_text }} {{ order_id }}"> 
 <input type="hidden" name="short-dest" value="{{ confname }} : {{ order_text }} {{ order_id }}"> 
 <input type="hidden" name="label" value="{{ order_id }}"> 
 <input type="hidden" name="quickpay-form" value="small">
 <input type="hidden" name="targets" value="{{ order_text_target }} {{ order_id }}"> 
 <input type="hidden" name="sum" value="{{ total }}" data-type="number" >
 <input type="hidden" name="comment" value="" >
 <input type="hidden" name="need-fio" value="false"> 
 <input type="hidden" name="need-email" value="false" > 
 <input type="hidden" name="need-phone" value="false"> 
 <input type="hidden" name="need-address" value="false"> 
 <input type="hidden" name="paymentType" value="{{ paymentType }}">
</form> 
<script>
document.form.submit();
</script>